:root {
    --image-length: 200px;
    --image-margin: -100px;
}

#headimage {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: var(--image-margin);
    margin-left: var(--image-margin);
    width: var(--image-length);
    height: var(--image-length);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#title {
    position: absolute;
    margin: auto;
    margin-left: 70px;
}

#name {
    clear: both;
    font-size: 50px;
    color: #888888;
    margin-bottom: -15px;
}

#secondname {
    font-size: 60px;
    font-weight: bold;
    color: #f7b212;
}

#major {
    padding-top: 20px;
    font-size: 20px;
    color: #888888;
    font-weight: lighter;
}

body {
    margin: 0;
}